@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@500&family=Roboto+Mono&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

/* JavaScript */

.scaleImage.active {
  opacity: 1;
  transition: opacity 3s;
}

#cardOne.activeRight,
#cardTwo.activeLeft {
  transform: translateX(0);
  opacity: 1;
  transition: all 2.5s;
}
